<configuration>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <rule name="RemoveServerHeader">
          <match serverVariable="RESPONSE_SERVER" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
