<configuration>
    <system.webServer>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <httpProtocol>
            <customHeaders>
                <remove name="Server" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
