html {
	font-family: 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	letter-spacing: normal;
}

.modal-body {
  overflow-y: auto;
}

.modal-content,
.form-control,
.btn {
  border-radius: 0;
}

label,
.form-group {
  margin-bottom: 0;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  color: black;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-link {
  color: white;
}

.nav-tab-menus > li.active > a,
.nav-tab-menus > li.active > a:focus,
.nav-tab-menus > li.active > a:hover {
  color: black;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(242, 242, 242);
}

.nav-row-custom {
  background-color: rgb(71, 109, 173);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: rgb(71, 109, 173);
  color: white;
}

a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: square;
}


/* .table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding-top: 1px;
  padding-bottom: 1px;
} */

/*
 * Page: Login & Register
 * ----------------------
 */
 .login-logo,
 .register-logo {
   font-size: 35px;
   text-align: center;
   margin-bottom: 25px;
   font-weight: 300;
 }
 .login-logo a,
 .register-logo a {
   color: #444;
 }
 .login-page,
 .register-page {
  /* background: #d2d6de; */
  background: #FFFFFF;
 }
 .login-box,
 .register-box {
   width: 360px;
   margin: 7% auto;
 }
 @media (max-width: 768px) {
   .login-box,
   .register-box {
     width: 90%;
     margin-top: 20px;
   }
 }
 .login-box-body,
 .register-box-body {
   background: #fff;
   padding: 20px;
   border-top: 0;
   color: #666;
 }
 .login-box-body .form-control-feedback,
 .register-box-body .form-control-feedback {
   color: #777;
 }
 .login-box-msg,
 .register-box-msg {
   margin: 0;
   text-align: center;
   padding: 0 20px 20px 20px;
 }
 .social-auth-links {
   margin: 10px 0;
 }