@{
}

<aside class="main-sidebar">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Pertamina</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 overflow-y-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" aria-current="page" href="#">
                    Home
                    </a>
                </li>
                <li class="nav-item level-2">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link d-flex align-items-center gap-2" aria-current="page">
                    Dashboard
                    </a>
                </li>
                <li class="nav-item level-2">
                    <a asp-area="" asp-controller="Home" asp-action="Detail" class="nav-link d-flex align-items-center gap-2" aria-current="page">
                    Assessment Summary
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>