<aside class="main-sidebar">
    <section class="sidebar" id="tree-menu">
        <ul class="sidebar-menu" style="list-style-type:none; padding:0">
            <li class="treeview">
                <div style="border-style: solid;border-width: 1px; padding:7px">
                    <b><a>Asset Register</a></b>
                </div>
                <ul class="treeview-menu" style="list-style-type:none; padding:0">
                    <li class="treeview">
                        <div style="border-style: solid;border-width: 1px; padding:7px; padding-left:21px">
                            <a asp-area="" asp-controller="AssetRegister" asp-action="Area">
                                Area
                            </a>
                        </div>
                    </li>
                    <li class="treeview">
                        <div style="border-style: solid;border-width: 1px; padding:7px; padding-left:21px">
                            <a asp-area="" asp-controller="AssetRegister" asp-action="Platform">
                                Platform
                            </a>
                        </div>
                    </li>
                    <li class="treeview">
                        <div style="border-style: solid;border-width: 1px; padding:7px; padding-left:21px">
                            <a asp-area="" asp-controller="AssetRegister" asp-action="Asset">
                                Asset
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>