<aside class="main-sidebar">
    @*
    <section class="sidebar" id="tree-menu">
        <ul class="sidebar-menu" style="list-style-type:none; padding:0">
            <li class="treeview">
                <div class="menu-item selected">
                    <b><a>Asset Register</a></b>
                </div>
                <ul class="treeview-menu" style="list-style-type:none; padding:0">
                    <li class="treeview">
                        <div class="menu-item">
                            <a asp-area="" asp-controller="AssetRegister" asp-action="Area">
                                Area
                            </a>
                        </div>
                    </li>
                    <li class="treeview">
                        <div class="menu-item">
                            <a asp-area="" asp-controller="AssetRegister" asp-action="Platform">
                                Platform
                            </a>
                        </div>
                    </li>
                    <li class="treeview">
                        <div class="menu-item">
                            <a asp-area="" asp-controller="AssetRegister" asp-action="Asset">
                                Asset
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    *@
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Pertamina</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 overflow-y-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" aria-current="page" href="#">
                    Asset Register
                    </a>
                </li>
                <li class="nav-item level-2">
                    <div class="menu-item">
                        <a asp-area="" asp-controller="AssetRegister" asp-action="Area" class="nav-link d-flex align-items-center gap-2" aria-current="page">
                            Area
                        </a>
                    </div>
                </li>
                <li class="nav-item level-2">
                    <div class="menu-item">
                        <a asp-area="" asp-controller="AssetRegister" asp-action="Platform" class="nav-link d-flex align-items-center gap-2" aria-current="page">
                            Platform
                        </a>
                    </div>
                </li>
                <li class="nav-item level-2">
                    <div class="menu-item">
                        <a asp-area="" asp-controller="AssetRegister" asp-action="Asset" class="nav-link d-flex align-items-center gap-2" aria-current="page">
                            Asset
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>