@{
    ViewData["Title"] = "Detail";
}

<div class="row">
    <div class="col-xs-2" style="padding-right:0;">
        <partial name="HomeSidebar" />
    </div>
    <div class="col-xs-10" style="padding-right: 50px">
    </div>
</div>