@{
    ViewData["Title"] = "Import Assesment";
}

<div class="row">
    <div class="col-xs-2" style="padding-right:0;">
        <partial name="ToolSidebar" />
    </div>
    <div class="col-xs-10">
        <form class="form-inline" role="form" style="margin-left:20px; margin-bottom:20px">
            <div class="form-group">
                <label for="importFile">File:</label>
                <input type="file" class="form-control" id="importFile">
            </div>
            <button type="submit" class="btn btn-primary">Import File</button>
        </form>
    </div>
</div>