@{
    ViewData["Title"] = "Import Asset Register";
    var urlimportexcel = Url.Action("ImportExcelFile", "Tool");
    var urltemplate = Url.Content("~/Uploads/Downloads/AssetTemplate.xlsx");
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
            <partial name="ToolSidebar" />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 subheader-negative-margin">
            <div class="subheader">
                <b>@ViewData["Title"]</b>
            </div>
            <div class="content-container">
                <div class="row">
                    <div class="col-md-6" style="padding-left:20px;">
                        <form>
                            <input type="hidden" name="__RequestVerificationToken" value="@tokens.RequestToken" />
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    Download the template file <a href="@urltemplate" target="_blank">here</a>
                                </div>
                            </div>
                            <br />
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="fileUpload" class="col-form-label">File: </label>
                                </div>
                                <div class="col">
                                    <input type="hidden" id="mode" name="mode" value="asset" />
                                    <input type="file" id="fileUpload" name="file" class="form-control"
                                        accept=".xlsx, .xls">
                                </div>
                            </div>
                            <br />
                            <div class="row g-3 align-items-center">
                                <div class="col">
                                    <button type="submit" class="btn btn-outline-primary" style="width: 100%;">Import
                                        File</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<input type="hidden" id="urlimportexcel" value="@urlimportexcel">

@section Scripts {
    <script src="~/js/tool/import-asset-register.js"></script>
}