@{
    ViewData["Title"] = "Login";
    var message = TempData["Message"];
    var version = ViewData["AppVersion"];
    string baseurl = Url.Action("", "") ?? "";
    string urllogin = Url.Action("Login", "Login") ?? "";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    var tokens = Xsrf.GetAndStoreTokens(Context);
}

<body class="hold-transition login-page">
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
    <div class="login-box">
        <div class="login-logo">
            <img src="~/lib/images/logo.jpg" />
        </div>
        @if (message != null)
        {
            <div class="alert alert-warning alert-dismissible">
                @message
            </div>
        }
        <div class="login-box-body">
            <p class="login-box-msg">Login to
                Valve Integrity Management System</p>
            <p class="text-center">Input your Credential (Email and Password) to enter Web Application</p>
            <form class="login-form">
                <input id="timezone" type="hidden" name="timezone">
                <div class="label">
                    Email
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" name="username" autocomplete="off" required autofocus>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="label">
                    Password
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="label"></div>
                <div class="form-group">
                    <button id="btn-signin" type="button"
                        class="btn btn-primary btn-login btn-block btn-flat">Login</button>
                </div>
            </form>
            <div class="copyright">
                Copyright © 2023 Pertamina Hulu Energi. All rights reserved.
                <small>Version @version</small>
            </div>
        </div>
    </div>
    <div class="login-image" style="background-image: url('@baseurl/lib/images/u9.jpg')">

    </div>
</body>

@section Scripts {
    <script>
        var requestVerificationToken = '@tokens.RequestToken';
        $('#btn-signin').prop('disabled', true).text('Loading...');
        $(document).ready(function () {
            $('#btn-signin').prop('disabled', false).text('Login');
            $('#btn-signin').click(function (e) {
                e.preventDefault();
                var username = $('input[name="username"]').val();
                var password = $('input[name="password"]').val();
                if ($('.login-form').valid()) {
                    $(this).prop('disabled', true).text('Loading...');
                    $.ajax({
                        url: '@urllogin',
                        type: 'POST',
                        headers: {
                            '__RequestVerificationToken': requestVerificationToken
                        },
                        data: {
                            username: username,
                            password: password
                        },
                        success: function (apiresult) {
                            if (apiresult.isSuccess) {
                                var data = apiresult.data;
                                    var path = "@baseurl" + '/Home/Index';
                                location.href = path;
                            } else {
                                alert(apiresult.message);
                                $('#btn-signin').prop('disabled', false).text('Login');
                            }
                        },
                    });
                }
            });
        });
    </script>
}