@{
    ViewData["Title"] = "Add Area";
}

<div class="text-center">
    <h1 class="display-4">Add Area</h1>
</div>
@* <form asp-controller="AssetRegister" asp-action="AddArea" method="post">
    <div class="form-group row">
        <label asp-for="AreaName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="AreaName" class="form-control" />
            <span asp-validation-for="AreaName" class="text-danger"></span>
        </div>
    </div>
</form> *@