tbody {
  font-size: 10px !important;
}

input {
  pointer-events: none
}

#assessment-print-table td{
  /* background-color: red; */
  background-color: white;
}
.text-center{
  text-align: center;
}
.inspection-maintenance-row td{
  /* min-height: 80px; */
  height: 150px;
}
.inspection-maintenance-row img {
  width: 160px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.inspection-maintenance-row img:last-child{
  margin-bottom: 0;
}
.risk-chart {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.risk-matrix-legend{
  width: 100%;
}

.print-risk-table {
  width: 60%;
  position: absolute;
  top: 12%;
  left: calc(50%);
  transform: translateX(-50%);
}

.print-risk-table img{
  width: 100%;
}

.checkbox{
  width: 50%;
  text-align: center;
}
.assessment-print{
  width: 100%;
}
.table-section{
  font-weight: bold;
  background-color: #ccc !important;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
}
.table-section.no-transform{
  text-transform: none;
  font-weight: normal;
}
.table-section.sub-section{
  text-transform: none;
  height: 36px;
}
.assessment-print td.no-padding{
  padding: 0;
}
.assessment-print td.spacing{
  border: none !important;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right: solid 1px #000000 !important;
}
.assessment-print td{
  border: solid 1px #000000;
  padding: 5px;
}

.assessment-print .logo{
  min-width: 150px;
  aspect-ratio: 1;
  max-width: 100%;
  background-color: grey;
}
.assessment-print .heading{
  color: white;
  background-color: #1f487c !important;
  font-size: 32px;
  padding: 15px;
  text-align: center;
}

.risk-dots .dot {
  position: absolute;
  transform: translate(-50%, 50%);
}
.risk-dots .dot-tp1:before {
  content: "";
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 14px solid #333;
  background-color: transparent;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%,-50%);
}

.risk-dots .dot-tp1:after{
  border-bottom: 10px solid #333;
}

.risk-dots .dot-tp2 {
  position: absolute;
  width: 12px; 
  height: 12px; 
  border-radius: 50%;
  background-color: #333;
  border: solid 2px #333;
}

.risk-dots .dot-tp3 {
  position: absolute;
  width: 12px; 
  height: 12px; 
  background-color: #333;
  border: solid 2px #333;
}